.city-form {
  // display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.city-form-inputs {
  margin-top: 10px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.city-form-inputs input::placeholder {
  color: gray;
}

.city-form-inputs input {
}

.card-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-content {
  text-align: center;
  max-width: 300px;
}

.card-content p {
  margin: 5px 0;
}

.form-div {
  justify-content: center;
  align-items: center;
}
