.container-address-book {
  display: flex;
  justify-content: space-around;
}

.card-poi {

  margin-left: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;

}

.poi-white {
  background-color: white;
  color: $purple;
  font-size: 14px;
  font-family: $text-font;
  display: flex;
  height: 60px;
  width: 450px;
  border-radius: 7px;
  padding: 5px 10px;
  position: relative;
  justify-content: space-between;

  p {
    margin-bottom: 0;
  }
}

.poi-purple {
  background-color: $light-blue;
  color: white;
  font-size: 14px;
  font-family:  $text-font;
  min-height: 60px;
  overflow: hidden;
  width: 450px;
  border-radius: 7px;
  padding: 5px 10px;
  position: relative;
  z-index: -1;
  margin-top: -20px;
  overflow-wrap: normal;

  p {
    margin-top: 15px;
  }
}
.poi-black {
  color :black;
}

.poi-garbage {
  justify-content: space-between;
}


.poi-title {
  font-family:  $text-font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 50px;

  h2 {
    color: $navy;
  }
}
