<div class="card-window bg-light">

    <h6><%= type %></h6>

  <p class="text-secondary">
    Name : <%= marker[:name] %>
  </p>
  <p class="text-secondary">
    Address : <%= marker[:address] %>
  </p>
</div>
