
<div class="rank-div">
<h3> Rank by</h3>
</div>

<div class="score-div">


  <h4>Scores</h4>
    <div class="score-card">
      <div class ="delete-card">
        <i class="fa-solid fa-x" style="color: #bababa;"></i>
        <%=  %>
      </div>
      <div class="amneties-progress-bar" >
        <div>
          <p>Groceries</p>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 5%"></div>
            </div>
        </div>

        <div>
        <p>Pharmacies </p>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 30%"></div>
            </div>
        </div>

        <div>
            <p>Public transport</p>
          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 45%"></div>
          </div>
        </div>

      </div>
    </div>
</div>
<p><%= @route1[:name] %></p>
<p>Walking Time:<%= @route1[:walk] %></p>
<p>Biking Time: <%= @route1[:bike] %></p>
