<h1>My Maps</h1>

<ul>
  <% @maps.each do |map| %>
    <li>
      <%= map.name %>
      <p> Points of interests:: <%= map.point_of_interests.count %> </p>
      <p> Potential homes mApt out: <%= map.potential_locations.count %> </p>
      <a class="btn btn-flat" href="#">Open Map</a>
    </li>

  <% end %>
</ul>
