<div class="footer">
  <div class="footer-links">
    <a href="/my-maps"><i class="fa-solid fa-map-location-dot" style="color: #bfbebe;"></i></a>
  </div>
  <div class="footer-copyright">
    Your lifestyle, without compromise.
  </div>
</div>
