<div>
  <%= f.input :latitude, label: false, as: :hidden, input_html: { data: { autocomplete_target: 'latitude' } } %>
  <%= f.input :longitude, label: false, as: :hidden, input_html: { data: { autocomplete_target: 'longitude' } } %>
  <%= f.input :google_place_id, label: false, as: :hidden, input_html: { data: { autocomplete_target: 'googlePlaceId' } } %>
</div>
