<%# poi1 = PointOfInterest.create!(name: 'Tom', category: 'friend', address: '528 Victoria', latitude: '', longitude: '', map_id: map1.id) %>

<h4> <%= PointOfInterest.all %> </h4>
<p> <%= PointOfInterest.category %> </p>
<p> <%= PointOfInterest.address %> </p>
