<h1>Your Points of Interests</h1>



<ul>
<%# <%= @pois.first.map.name %>
  <% @pois.each do |poi| %>
    <li>
      <%= poi.name %>
    </li>
     <li>
      <%= poi.category %>
    </li>
    <li>
      <%=  poi.address %>
    </li>

  <% end %>
</ul>
