.btn-get-started {
  background-color: $navy;
  color: $white;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  font-family: $text-font;
  font-size: 20px;
  border-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Same as Get Scores button */
.btn-add-address {
  background-color: $navy;
  color: $white;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-family: $text-font;
  border-style: none;
}

.btn-add-city {
  background-color: $navy;
  color: $white;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-family: $text-font;
  border-style: none;
  margin-bottom: 16px;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
}

.btn-distances {
  background-color: white;
  color: $light-blue;
  border-color: $light-blue;
  border: solid;
  border-radius: 10px;
  font-family: $text-font;
  width: 180px;
  height: 60px;
  margin-top: 20px;
  opacity: 0.6;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 8px;



  .hover  {
    opacity: 1;
  }
}

.btn-options {
  background: #6c5ce7;
  border-color: #6c5ce7;
  border-radius: 10px;
  font-family: $text-font;
  width: 180px;
  height: 40px;
  color: $light-gray !important;
}

.btn-options a {
  color: $light-gray;
  text-decoration: none;
  transition: 0.3s;
}

.btn-options a:hover {
  color: $white;
}

// .btn-ghost {
//   color: $light-blue;
//   border: 1px solid $light-blue;
//   padding: 8px 24px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.6;
//   transition: opacity 0.3s ease;
//   a {

//     text-decoration: none;
//     color: $light-blue;
//   }
// }

.btn-ghost:hover {
  opacity: 1;
}


.btn-active {
  background-color: $navy;
  color: $white;
  border-color: $navy !important;
  border: solid;
  border-radius: 10px;
  font-family: $text-font;
  width: 180px;
  height: 60px;
  margin-top: 20px;
  opacity: 0.6;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5px;
}
