.card-category {
  position: relative;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}


.card-category-2 {
  height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-blue;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-bottom: solid 1px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Optionally adjust the alignment as needed */
}

.card-item {
  flex-basis: 33.33%; /* Adjust the flex-basis value based on the desired number of cards per row */
  padding: 10px; /* Add padding for spacing between cards */
  box-sizing: border-box; /* Ensure padding is included in the card's width */
}


.card-content {
  flex-basis: 25%; /* Adjust this value based on the desired number of cards per row */
  text-align: center;
}

.image-container {
  flex-basis: 100%;
  padding: 10px;
}

.card-image {
  max-width: 100%;
  height: auto;
}
