.card-category {
  position: relative;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}


.card-category-2 {
  height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-blue;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-bottom: solid 1px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Adjust the alignment to flex-start */
}

.card-item {
  flex-basis: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  display: flex; /* Add display:flex to align items vertically */
  flex-direction: column; /* Set flex-direction to column */
}

.card-content {
  flex-grow: 1;
}

.image-container {
  height: 100%;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
