
.header-div {
  font-family: $titles-font;
  h1 {
    color: $light-blue;
  }
  margin: 10px;
}

.map-toggle {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  #map {
    position: relative;
    height: 800px;
    width: 1500px;
    margin: 10px;
    border-radius: 30px;
  }

}




.adress-div {
  background-color: white;
  border-radius: 10px;
  min-height: 50px;
  width: 200px;
  padding: 10px;
  margin: 10px;
  display: flex;
  border-style: 1px solid;
  justify-content: space-between;
  overflow-wrap: normal;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}


.pol-div {
  display: flex;
  font-family: $text-font;

}

.header-search {
  display: flex;
}

.delete-pol{
  // display: flex;
}

.search-input-map {
  width: 500px;
  height: 40px;
}

.search-button-map {
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
}

.get-scores-div {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 15px 0;
}

.legend-card {
  background-color: white;
  color: black;
  font-family: $text-font;
  display: flex;
  flex-direction: row; /* Change from 'column' to 'row' */
  align-items: center; /* Add this line */
  padding: 10px;
  height: 50px;
  overflow-wrap: normal;
  width: 200px;
  margin: 6px;
  position: relative;
  font-size: 14px;
}

.legend-card p {
  margin-bottom: 0; /* Change from '15px' to '0' */
}

.legend-color-poi {
  width: 20px;
  height: 18px;
  border-radius: 50%;
  background-color: pink;
  margin-right: 10px; /* Add this line to create space between elements */
}

.legend-color-pol {
  width: 20px;
  height: 18px;
  border-radius: 50%;
  background-color: yellow;
  margin-right: 10px; /* Add this line to create space between elements */
}


.whole-page {
  margin-left: 20px;
}
