h1 {
  margin-top: 20px;
}

.container-fluid {
  padding-bottom: 0px;
  padding-left: 0;
  margin-bottom: 0px;
}

.navbar-mapt {
  font-family: $text-font;
  font-size: 18px;
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-mapt .navbar-collapse {
  flex-grow: 0;
}

.navbar-mapt .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-mapt .navbar-brand img {
  display: block;
  padding: 0;
  margin: 0;
  width: 170px;
  height: 100%;
  }


.navbar-nav .nav-item .nav-link {
  transition: color 0.4s;
  padding-bottom: 0;
}

.navbar-nav .nav-item .nav-link:hover {
  color: $light-blue;
}
